// === Breakpoints ===
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$retina-dpi: 144dpi;
$retina-dpx: 1.5dppx;

// === BgColor ===
$mainBgColor: #fff;

$secondBgColor: #fa4f37;

$thirdBgColor: #f9df7b;

$fourBgColor: #33100B;

// === FontColor ===
$mainFontColor: #33100B;

$secondFontColor: #fa4f37;

$thirdFontColor: #858585;

$fourthFontColor: #fff;

// === MobileMenuBgColor ===

$mainMobileMenuBgColor: #c8edca;

$secondMobileMenuBgColor: #e8edc8;

// === Transition ===
$transition: all ease .3s;

// === Margin sections ===
$marginSections: 70px 0 0 0;